

.main{
	display: flex;

}

.cat-detail{
    
	border: 3px double black;
	margin: 50px;
	
}

.admin{

	border: 3px double black;
	margin: 50px;
	
}

.cat-list{
    width: 145px;
    display: block;
    margin-bottom: auto;
    margin-top: auto;
	border: 3px double black;
}


h3,p{
	margin: 15px;
	text-align: center;
}

li{
		margin: 15px;

}
#cat-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 630px;
}

#admin-data{
	display: none;
}
/*.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}*/